{% extends "SonataAdminBundle:CRUD:base_list.html.twig" %}

{# Changed to support sortable better #}
{% block table_header %}
    <thead>
        <tr class="sonata-ba-list-field-header">
            {% for field_description in admin.list.elements %}
                {% if field_description.getOption('code') == '_batch' and batchactions|length > 0%}
                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                        <input type="checkbox" id="list_batch_checkbox" />
                    </th>
                {% else %}
                    {% set sortable = false %}
                    {% if field_description.options.sortable is defined and field_description.options.sortable%}
                        {% set sortable             = true %}
                        {% set current              = admin.datagrid.values._sort_by == field_description.options.sortable %}
                        {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                        {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                        {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                    {% endif %}

                    {% spaceless %}
                        <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                            {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                            {{ admin.trans(field_description.label) }}
                            {% if sortable %}</a>{% endif %}
                        </th>
                    {% endspaceless %}
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
{% endblock %}